<nav> 
   <img class="logo" src="{{asset('image/logo.svg')}}">
   <ul>
   
    <li>
        <a href="{{ path('home') }}">Home</a>
    </li>
    <li>
        <a href="{{ path('about_us') }}">About-us</a>
    </li>
    <li>
        <a href="{{ path('wish-liste') }}">Liste Wish</a>
    </li>
    <li>
        <a href="{{ path('wish-creation') }}">Créer Wish</a>
    </li>
   
   </ul> 

</nav>
